

body{
background-color:white ;
}


 h1{
color:blackv ;
font-family: impact;
background ;
}

p{
color-scheme: black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font: size 25px;;
background: rgb(4, 47, 61)
}