

body{
background-color:white ;
}


 h1{
color:green ;
font-family: impact;
background:rgb(3, 68, 90) ;
}

p{
color-scheme: grey;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font: size 25px;;
background: rgb(4, 47, 61)
}